.info__img {
  width: 60%;
  border-radius: 24px;
}
#Stinfo__product ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#Stinfo__product li {
  margin-top: 20px;
}
#Stinfo__product li h2 {
  font-weight: 600;
}
#Stinfo__product li span {
  font-size: 24px;
  font-weight: 500;
}
